:root {
  font-family: "Roboto", sans-serif;
  color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: #acacac;
}

section:not(.brands) {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1440px) {
  section:not(.brands) {
    min-height: 720px;
  }
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #acacac;
}

.container {
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 961px) {
  .container {
    text-align: left;
    padding: 40px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1600px;
    max-width: 1600px;
    padding: 0 40px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  margin-bottom: -40px;
}
header .logo {
  flex-grow: 0;
  flex-basis: 35%;
  padding: 10px 0;
}
@media (min-width: 961px) {
  header .logo {
    padding: 15px 0;
    flex-basis: 25%;
  }
}
@media (min-width: 1440px) {
  header .logo {
    flex-basis: 20%;
    padding: 20px 0;
  }
}
header .logo img {
  max-height: 60px;
}
header nav {
  display: none;
  flex-grow: 1;
}
@media (min-width: 961px) {
  header nav {
    display: flex;
  }
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  flex-direction: row;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 200;
}
header .header-controls {
  flex-basis: 35%;
  font-size: 1.25rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
@media (min-width: 961px) {
  header .header-controls {
    font-size: 1.5rem;
    flex-basis: 25%;
  }
}
@media (min-width: 1440px) {
  header .header-controls {
    font-size: 2rem;
    flex-basis: 20%;
  }
}
header .header-controls > a {
  margin-left: 0.5rem;
  color: #242424;
}
header .header-controls > a:first-child {
  margin-left: 0;
}

.landing {
  background-color: #ffeeda;
}
.landing .container {
  padding: 40px;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 1440px) {
  .landing .container {
    padding: 40px 0;
  }
}
.landing .landing-content {
  flex: 0 0 50%;
  margin-bottom: 20px;
  gap: 20px;
}
.landing .landing-content h1 {
  font-size: 3rem;
}
.landing .landing-content h1,
.landing .landing-content p {
  width: 80%;
}
.landing .landing-aside {
  flex: 0 0 35%;
}
@media (min-width: 961px) {
  .landing .container {
    flex-direction: row;
    text-align: left;
  }
  .landing .container .landing-content {
    align-items: flex-start;
  }
}

.brands .brands-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  gap: 20px;
}
@media (min-width: 961px) {
  .brands .brands-items {
    display: flex;
    flex-direction: row;
  }
}

.subscr .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscr .container .subscr-steps {
  grid-area: steps;
}
.subscr .container .subscr-steps ol {
  list-style: none;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 961px) {
  .subscr .container .subscr-steps ol {
    flex-direction: row;
  }
}
.subscr .container .subscr-steps ol li {
  flex: 0 0 30%;
  align-items: center;
  gap: 10px;
}
@media (min-width: 961px) {
  .subscr .container .subscr-steps ol li {
    align-items: flex-start;
  }
}
.subscr .container .subscr-steps ol li .num {
  border-radius: 10px;
  background-color: #1b222b;
  color: #fafafa;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  border-radius: 100%;
  text-align: center;
}
.subscr .container .subscr-steps ol li h2 {
  font-size: 2rem;
}
.subscr .container .subscr-steps ol li p {
  font-size: 1.25rem;
  margin-top: 10px;
  color: #acacac;
}
.subscr .container .subscr-aside {
  width: 75%;
  grid-area: aside;
  flex-grow: 0;
}
.subscr .container .subscr-content {
  grid-area: content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.subscr .container .subscr-content h1 {
  font-size: 3.5rem;
}
.subscr .container .subscr-content p {
  font-size: 1.5rem;
  color: #acacac;
}
@media (min-width: 1440px) {
  .subscr .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    gap: 20px;
    grid-template-areas: "content aside" "steps steps";
  }
  .subscr .container .subscr-content {
    width: 70%;
    align-items: flex-start;
  }
  .subscr .container .subscr-aside {
    width: 100%;
  }
}

.btn {
  border-radius: 30px;
  padding: 15px 30px;
  background-color: #1b222b;
  color: #fafafa;
  font-size: 2rem;
  box-shadow: none;
  border: none;
  transition: background-color 0.35s ease;
  cursor: pointer;
}
.btn:hover {
  background-color: #3b4252;
}

.top-sellers .top-sellers-items {
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
@media (min-width: 961px) {
  .top-sellers .top-sellers-items {
    width: 70%;
  }
}
@media (min-width: 1440px) {
  .top-sellers .top-sellers-items {
    width: 100%;
    flex-direction: row;
  }
}
.top-sellers .top-sellers-items .panel {
  position: relative;
}
.top-sellers .top-sellers-items .panel .overlay {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 45%;
  padding: 40px;
  text-align: center;
  justify-content: flex-end;
}
.top-sellers .top-sellers-items .panel .overlay h2 {
  font-size: 2.5rem;
}
.top-sellers .top-sellers-items .panel .overlay p {
  font-size: 1.25rem;
}
.top-sellers .top-sellers-items .panel .overlay .top-seller-btn {
  border-radius: 10px;
  width: 80%;
  background-color: #fafafa;
  color: #242424;
  margin-top: 40px;
}

.promo .promo-items {
  gap: 20px;
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 1440px) {
  .promo .promo-items {
    display: flex;
  }
}
.promo .promo-items .promo-item {
  flex: 0 0 21%;
  border-radius: 10px;
  padding: 80px 40px;
  border: 0.5px solid #1b222b;
  gap: 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.promo .promo-items .promo-item:hover {
  background-color: #1b222b;
  color: #fafafa;
}
.promo .promo-items .promo-item h2 {
  font-size: 2.25rem;
}
.promo .promo-items .promo-item p {
  font-size: 1.25rem;
  color: #acacac;
}
.promo .promo-items .promo-item .icon-container {
  font-size: 4rem;
  border-radius: 10px;
  border: 0.5px solid #1b222b;
  background-color: #fafafa;
  color: #242424;
  padding: 10px;
}

.qna .qna-accordeon {
  width: 100%;
}
.qna .qna-accordeon .qna-accordeon-item {
  background-color: #fff6ed;
  width: 100%;
  position: relative;
  padding: 30px 10%;
  text-align: left;
}
.qna .qna-accordeon .qna-accordeon-item p {
  margin-top: 10px;
  display: none;
}
.qna .qna-accordeon .qna-accordeon-item h2,
.qna .qna-accordeon .qna-accordeon-item p {
  width: 90%;
}
.qna .qna-accordeon .qna-accordeon-item.active {
  background: #ffeeda;
}
.qna .qna-accordeon .qna-accordeon-item.active p {
  display: inline-block;
  margin: 0;
}
.qna .qna-accordeon .qna-accordeon-item.active button {
  background-color: #1b222b;
  color: #fafafa;
}
.qna .qna-accordeon .qna-accordeon-item button {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  background: #fafafa;
  border-radius: 100%;
  font-size: 1.5rem;
  line-height: 100%;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: none;
}

.customers {
  padding: 40px 0;
}
.customers .customers-aside {
  flex: 0 0 70%;
  display: none;
}
@media (min-width: 1440px) {
  .customers .customers-aside {
    display: block;
  }
}
.customers .customers-content {
  align-items: center;
  gap: 20px;
}
@media (min-width: 1440px) {
  .customers .customers-content {
    align-items: flex-start;
  }
}
.customers .customers-content h1 {
  font-size: 3rem;
}
.customers .customers-content p {
  font-size: 1.5rem;
  color: #acacac;
}
.customers .customers-aside-stack-container {
  flex-grow: 1;
  align-items: flex-end;
  margin-right: 40px;
}
.customers .customers-aside-controls {
  font-size: 2.5rem;
}
.customers .customers-aside-stack {
  position: relative;
}
.customers .customers-aside-stack .card {
  width: 500px;
  height: 260px;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 50px 30px;
  position: relative;
  z-index: 5;
  box-shadow: 4px 4px 20px #acacac;
  background-color: #1b222b;
  color: #fafafa;
  align-items: flex-start;
  transition: all 0.5s ease-in-out;
}
.customers .customers-aside-stack .card > * {
  font-size: 1.1rem;
}
.customers .customers-aside-stack .card .author {
  font-weight: bold;
}
.customers .customers-aside-stack .card .author > * {
  font-size: 1.25rem;
}
.customers .customers-aside-stack .card .author .subcaption {
  display: block;
  font-weight: 500;
}
.customers .customers-aside-stack .card .author .subcaption > * {
  font-size: 1rem;
}
.customers .customers-aside-stack .card:not(:first-child) {
  background-color: #fafafa;
  color: #1b222b;
}
.customers .customers-aside-stack .card:nth-child(2) {
  z-index: 4;
  margin: -200px 0 0 20px;
}
.customers .customers-aside-stack .card:nth-child(3) {
  z-index: 3;
  margin: -200px 0 0 40px;
}
.customers .customers-aside-stack .card:nth-child(4) {
  z-index: 2;
  margin: -200px 0 0 60px;
}

footer {
  background-color: #1b222b;
  color: #acacac;
  font-size: 1.3rem;
}
footer h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #fafafa;
}
footer p {
  margin: 0;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer hr {
  height: 0.5px;
}
footer a {
  display: block;
  color: #acacac;
}
footer .info {
  text-align: left;
}
footer .info .logo {
  flex-basis: 15%;
  padding: 30px 0;
}
footer .info p {
  flex-basis: 50%;
}
@media (min-width: 961px) {
  footer .info p {
    flex-basis: 40%;
  }
}
@media (min-width: 1440px) {
  footer .info p {
    flex-basis: 30%;
  }
}
footer .links {
  align-items: flex-start;
  padding: 60px 0 40px;
  gap: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas: "a b c d" "utility utility utility utility";
}
footer .links > * {
  flex-grow: 1;
}
@media (min-width: 1440px) {
  footer .links {
    display: flex;
  }
}
footer .links .newsletter {
  flex: 0 0 25%;
  margin-right: 40px;
}
footer .links .newsletter h2,
footer .links .newsletter p {
  width: 75%;
}
footer .links .newsletter input {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  margin: 40px 0 20px;
  font-size: 1.25rem;
  width: 100%;
  background-color: #313840;
  color: #acacac;
}
footer .links .newsletter .btn {
  background-color: #ffeeda;
  color: #242424;
  padding: 15px 45px;
  font-size: 1.5rem;
}
footer .links .newsletter .btn:hover {
  background-color: #fafafa;
}
footer .utility {
  grid-area: utility;
  flex-grow: 0;
}
footer .utility .utility-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 961px) {
  footer .utility .utility-items {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  footer .utility .utility-items {
    flex-direction: column;
    align-items: stretch;
  }
}
footer .utility .utility-item {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #313840;
  flex-grow: 1;
  gap: 1.5rem;
}
footer .utility .utility-item img {
  width: 50px;
  height: 50px;
}
footer .utility .utility-item div {
  flex-grow: 1;
  text-align: left;
}
footer .utility .utility-item div h3 {
  color: #fafafa;
  margin-bottom: 5px;
}
footer .connect {
  padding: 40px 0;
}
footer .connect .copywrite,
footer .connect .socials {
  gap: 10px;
}/*# sourceMappingURL=style.css.map */