$accent-color: #ffeeda;
$accent2-color: #1b222b;
$accent2-active-color: #3b4252;
$primary-color: #242424;
$secondary-color: #acacac;
$primary-bg: #fafafa;
$secondary-bg: #313840;
:root {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: $primary-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-bg;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: $secondary-color;
}

section:not(.brands) {
  min-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

.container {
  width: 1600px;
  max-width: 1600px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  margin-bottom: -40px;
  .logo {
    flex-grow: 0;
    flex-basis: 20%;
    padding: 20px 0;

    img {
      max-height: 60px;
    }
  }

  nav {
    flex-grow: 1;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 20px;
      text-align: center;
      flex-direction: row;
      margin: 0 auto;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .header-controls {
    font-size: 2rem;
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    > a {
      margin-left: 0.5rem;
      color: $primary-color;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.landing {
  background-color: $accent-color;

  .container {
    padding: 40px 0;
  }

  .landing-content {
    flex: 0 0 50%;
    align-items: flex-start;

    h1 {
      font-size: 6rem;
    }

    h1,
    p {
      width: 80%;
    }

    gap: 20px;
  }

  .landing-aside {
    flex: 0 0 35%;
  }
}

.brands {
  .brands-items {
    margin-top: 20px;
    gap: 20px;
  }
}

.subscr {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    gap: 20px;
    grid-template-areas:
      "content aside"
      "steps steps";

    .subscr-steps {
      grid-area: steps;

      ol {
        list-style: none;
        li {
          flex: 0 0 30%;
          align-items: flex-start;
          gap: 10px;

          .num {
            border-radius: 10px;
            background-color: $accent2-color;
            color: $primary-bg;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            font-size: 2rem;
            border-radius: 100%;
            text-align: center;
          }

          h2 {
            font-size: 2rem;
          }

          p {
            font-size: 1.25rem;
            margin-top: 10px;
            color: $secondary-color;
          }
        }
      }
    }
    .subscr-aside {
      grid-area: aside;
      flex-grow: 0;
    }
    .subscr-content {
      grid-area: content;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-right: 30%;
      gap: 20px;
      h1 {
        font-size: 3.5rem;
      }

      p {
        font-size: 1.5rem;
        color: $secondary-color;
      }
    }
  }
}

.btn {
  border-radius: 30px;
  padding: 15px 30px;
  background-color: $accent2-color;
  color: #fafafa;
  font-size: 2rem;
  box-shadow: none;
  border: none;
  transition: background-color 0.35s ease;
  cursor: pointer;

  &:hover {
    background-color: $accent2-active-color;
  }
}

.top-sellers {
  .top-sellers-items {
    gap: 40px;
    > div {
      position: relative;
      .overlay {
        position: absolute;
        z-index: 10;
        bottom: 0;

        width: 100%;
        height: 45%;
        padding: 40px;
        text-align: center;

        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.25rem;
        }

        .top-seller-btn {
          border-radius: 10px;
          width: 80%;
          background-color: $primary-bg;
          color: $primary-color;

          margin-top: 40px;
        }
      }
    }
  }
}

.promo {
  .promo-items {
    gap: 20px;
    align-items: stretch;
    .promo-item {
      flex: 0 0 21%;
      border-radius: 10px;
      padding: 80px 40px;
      border: 0.5px solid $accent2-color;
      gap: 20px;
      text-align: center;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: $accent2-color;
        color: $primary-bg;
      }

      h2 {
        font-size: 2.25rem;
      }

      p {
        font-size: 1.25rem;
        color: $secondary-color;
      }

      .icon-container {
        font-size: 4rem;
        border-radius: 10px;
        border: 0.5px solid $accent2-color;
        background-color: $primary-bg;
        color: $primary-color;

        padding: 10px;
      }
    }
  }
}

.qna {
  .qna-accordeon {
    width: 100%;
    .qna-accordeon-item {
      background-color: #fff6ed;
      width: 100%;
      position: relative;
      padding: 30px 10%;
      p {
        margin-top: 10px;
        display: none;
      }

      &.active {
        background: $accent-color;
        p {
          display: inline;
        }

        button {
          background-color: $accent2-color;
          color: $primary-bg;
        }
      }

      button {
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        background: $primary-bg;
        border-radius: 100%;
        font-size: 1.5rem;
        line-height: 100%;
        width: 50px;
        height: 50px;
        border: none;
        box-shadow: none;
      }
    }
  }
}

.customers {
  padding: 40px 0;

  .customers-aside {
    flex: 0 0 70%;
  }

  .customers-content {
    align-items: flex-start;
    gap: 20px;

    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
      color: $secondary-color;
    }
  }

  .customers-aside-stack-container {
    flex-grow: 1;
    align-items: flex-end;
    margin-right: 40px;
  }

  .customers-aside-controls {
    font-size: 2.5rem;
  }
  .customers-aside-stack {
    position: relative;
    .card {
      width: 500px;
      height: 260px;
      background-color: #fff;
      border-radius: 10px;
      padding: 50px 30px;

      position: relative;
      z-index: 5;
      box-shadow: 4px 4px 20px $secondary-color;
      background-color: $accent2-color;
      color: $primary-bg;
      align-items: flex-start;

      transition: all 0.5s ease-in-out;
      > * {
        font-size: 1.1rem;
      }

      .author {
        > * {
          font-size: 1.25rem;
        }
        font-weight: bold;
        .subcaption {
          display: block;
          font-weight: 500;
          > * {
            font-size: 1rem;
          }
        }
      }

      &:not(:first-child) {
        background-color: $primary-bg;
        color: $accent2-color;
      }

      &:nth-child(2) {
        z-index: 4;
        margin: -200px 0 0 20px;
      }
      &:nth-child(3) {
        z-index: 3;
        margin: -200px 0 0 40px;
      }
      &:nth-child(4) {
        z-index: 2;
        margin: -200px 0 0 60px;
      }
    }
  }
}

footer {
  background-color: $accent2-color;
  color: $secondary-color;
  font-size: 1.3rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: $primary-bg;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  hr {
    height: 0.5px;
  }

  a {
    display: block;
    color: $secondary-color;
    margin-bottom: 10;
  }

  .info {
    .logo {
      flex-basis: 15%;
      padding: 30px 0;
    }
    p {
      flex-basis: 30%;
    }
  }

  .links {
    align-items: flex-start;
    padding: 60px 0 40px;
    gap: 40px;
    > * {
      flex-grow: 1;
    }

    .newsletter {
      flex: 0 0 25%;
      margin-right: 40px;

      h2,
      p {
        width: 75%;
      }

      input {
        padding: 15px 30px;
        border-radius: 30px;
        border: none;
        margin: 40px 0 20px;
        font-size: 1.25rem;
        width: 100%;
        background-color: $secondary-bg;
        color: $secondary-color;
      }

      .btn {
        background-color: $accent-color;
        color: $primary-color;
        padding: 15px 45px;
        font-size: 1.5rem;

        &:hover {
          background-color: #ffeeda;
        }
      }
    }
  }

  .utility {
    flex-grow: 0;
    .utility-item {
      padding: 2rem;
      border-radius: 1rem;
      background-color: $secondary-bg;
      gap: 1.5rem;
      img {
        width: 50px;
        height: 50px;
      }

      div {
        flex-grow: 1;

        h3 {
          color: $primary-bg;
          margin-bottom: 5px;
        }
      }

      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }
  }

  .connect {
    padding: 40px 0;
    .copywrite,
    .socials {
      gap: 10px;
    }
  }
}
